*, *::after,*::before{
    box-sizing: border-box;
    margin: 0%;
}
.seanc{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 17px;
}
form{
    background-color: lavender;
    max-width: 500px;
    margin: .5rem auto;
}
.box {
    width: 100%;
}

.section2{
    width: 100%;
}

.seance-head{
    margin: 1.5rem auto;
    font-weight: 900;
}
.seance-head p{
    color: purple;
}
button:disabled{
    background-color: rgb(28, 240, 56);
    font-weight: bolder;
    color: white;
}

.big{
    font-family: sans-serif;
    transform: scaleY(1.2);
}
.btn-togle, .item5{
    display: flex;
    flex-direction: row;
}
.btn-togle button{
    width: 50%;
    }

.item2 p{
    text-align: center;
}

.item5 .btn{
    max-width: 10rem;   
    min-width: 5rem;
    margin-right: .5rem;
    margin-top: 1rem;
}
button[type="submit"]{
    margin-left: auto;

}

.serie{
    width: 100%;
}
.recEntreSeri {
width: 100%;
display: flex;
flex-direction: row;
}
.serie-card{
    position: relative;
}
.delet{
position: absolute;
right: .8rem;
top: .4rem;
font-size: 1.2rem;
color: rgb(243, 43, 60);
cursor: pointer;
}
.table{
    background-color: white;
    column-width: 5rem;

}
.table th{
    color: orangered;
}
.table td{
    color: #625261;
    font-weight: bold;
}
.badge{
    display: block;
}

.save-pdf{
    width: 100%;
    display: flex;
}
.save-pdf button {
    margin: 1rem 2.3rem 1rem auto;
    border-radius: 20px;
}


@media only screen and (max-width: 560px) {
    /* For mobile phones: */
    .seanc{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        place-items: center;

 }
 .box-1, .box-2{
    padding: 0;
 }
 
    
   form{
       width: 320px;
   }
  
    
     .serie-card{
            width: 320px;
      }
    .serie-card .serie-card-body .serie{
        line-height: 15px;
    }
   
    
    .save-pdf button {
        margin: 1rem auto 0 auto;
    }
  }
 
