
<h2>Qu'est-ce que la VMA ?</h2>
<p>La Vitesse Maximale Aérobie (VMA) correspond à la vitesse de course à partir de laquelle
 on consomme 100% de sa réserve en oxygène (pour en savoir plus lire notre article sur la VO2max). 
<ul>
    <li>
        La VMA correspond à une vitesse de course rapide ;
    </li>
    <li>
        Elle ne peut donc être maintenue qu’entre 3 et 4 minutes et doit être entrecoupée
        par des phases de récupération.
    </li>
</ul>
<p>’est un facteur de performance essentiel pour établir un plan d’entraînement
 et connaître les allures de course à adopter au bon moment.
Plus on travaille sa VMA, plus il sera facile de courir sur de longues distances
 sans manquer d’oxygène et tout en améliorant ses chronos.</p>
 <h6>Exemple d’une séance avec 20 répétitions en 2 séries :
<br>
    Échauffement 20 min. à 65% de la VMA ;
    <br>
    Étirements ;
    <br>
    1 série de 10 X 30’’ à 100% - VMA + 30’’ à 70% VMA ; <br>
    Récupération avec 3 min. à 50% VMA (footing) ; <br>
    1 série de 10 X 30’’ à 100% VMA + 30’’ à 70% VMA ; <br>
    Récupération avec 3 min. à 50% VMA (footing). <br>
</h6>
