<div class="seanc">
  <div class="box-1">
    <form class="border border-light p-3 mx-auto" [formGroup]="seriForm" (ngSubmit)="generer(seriForm.value)">
      <p class="text-center h5 mb-4">Préparer votre Plan d'entrainement</p>
      <div class="type-se mb-2">
        <div class="s-type btn btn-outline-danger">Puissance</div>
        <div class="s-type btn btn-outline-secondary">Capacitée</div>
        <div class="s-type btn btn-outline-success">Continu</div>
      </div>
      <p class="h6 mb-2 ml-3">Séance: {{num}}</p>
      <div class="box">
        <div class="item2 col-auto">
          <input type="number" class="form-control mb-3" placeholder="VMA" formControlName="vmaVal">
        </div>

        <div class="item2 col-auto">
          <div>
            <select class="browser-default custom-select mb-3" formControlName="percent">
              <option value="" selected>allure</option>
              <option value="60">60 %</option>
              <option value="65">65 %</option>
              <option value="70">70 %</option>
              <option value="75">75 %</option>
              <option value="80">80 %</option>
              <option value="85">85 %</option>
              <option value="90">90 %</option>
              <option value="95">95 %</option>
              <option value="100">100 %</option>
              <option value="105">105 %</option>
              <option value="110">110 %</option>
              <option value="115">115 %</option>
              <option value="120">120 %</option>

            </select>
          </div>

        </div>

        <div class="item3 col-auto">

          <div class="btn-togle ">
            <button [ngClass]="!time?'btn btn-success btn-sm big':'btn btn-light btn-sm'" (click)="togle()"
              [disabled]="!time">distance</button>
            <button [ngClass]="time?'btn btn-success btn-sm big':'btn btn-light btn-sm'" (click)="togle()"
              [disabled]="time">durée</button>
          </div>
          <div class="input-param">
            <input class="inputype form-control mb-3" type="text" [placeholder]="inputype" formControlName="param">
          </div>
        </div>


      </div>
      <div class="item5 p-2 col-auto">
        <button class="btn btn-warning btn-sm " type="submit">Ajouter</button>
        <div class="btn btn-light btn-sm" (click)="renitialiser()">Rénitialiser</div>

      </div>
    </form>
  </div>



  <div class="box-2">
    <div class="section section2">
      <div *ngFor="let item of plan index as i">
        <table class="table table-sm mb-2">
          <tr>
            <th> <strong>Séance {{i + 1}}</strong> </th>
            <th colspan="2">{{item.type[0]}}</th>
            <td class="close"><a mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delet(i)">
                <mat-icon>close</mat-icon>
              </a>
            </td>
          </tr>
          <tr>
            <th>vitesse </th>
            <td>{{item.vma * item.per / 100}} km/h</td>
            <td colspan="2">{{item.per}}% de la VMA ( {{item.vma}} km/h )</td>
          </tr>
          <tr>
            <th class="seri" colspan="4">{{item.repetition}} X {{item.distance}}m ( {{MyTime(item.dure)}})</th>
          </tr>
          <tr>
            <th>Rec</th>
            <td>{{MyTime(item.recuperation)}} "</td>
            <th>volume</th>
            <td>{{item.volume}}m ({{MyTime(item.volumeTemps)}})</td>
          </tr>
        </table>
      </div>
      <!--pdf-->
      <div class="save-pdf">
        <button class="btn btn-outline-danger" (click)="convertoPdf()"><span>Telecharger PDF </span><i
            class="far fa-arrow-alt-circle-down"></i></button>
      </div>
    </div>
  </div>
</div>