*, *::after,*::before{
    box-sizing: border-box;
    margin: 0%;
}
.seanc{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box-1{
padding: 0 1rem;}
.box-2{
    flex: 2;
}


.section2{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
textarea, .card{
    margin: 1rem auto;
    width: 90%;
    text-align: left;
}
.section3{
    width: 100%;
    margin: 0 auto;
}

.titre-seance{
    font-weight: bolder;
    text-decoration: underline;
}
button:disabled{
    background-color: rgb(28, 240, 56);
    font-weight: bolder;
    color: white;
}

.big{
    font-family: sans-serif;
    transform: scaleY(1.2);
}
.btn-togle, .item5{
    display: flex;
    flex-direction: row;
}
.btn-togle button{
    width: 50%;
    }

.item2 p{
    text-align: center;
}

.item5 .btn{
    margin-right: .5rem;
    margin-top: 1rem;
}
button[type="submit"]{
    width: 10rem;
    margin-left: auto;

}

.seance{
    width: 100%;
}
.recEntreSeri {
width: 100%;
display: flex;
flex-direction: row;
}
.serie-card{
    position: relative;
}
.serie{
    padding: .5rem;
    border-radius: 15px 0 0 0;

}
.serie div{
    padding: 1rem;
    margin: 0 auto;
}
.delet{
position: absolute;
right: .8rem;
top: .4rem;
font-size: 1.2rem;
color: rgb(243, 43, 60);
cursor: pointer;
}
.table{
    background-color: white;
    column-width: 5rem;

}
.table th{
    color: orangered;
}
.table td{
    color: #625261;
    font-weight: bold;
}
.badge{
    display: block;
}

.save-pdf{
    width: 100%;
    display: flex;
}
.save-pdf button {
    margin: 1rem 1rem 1rem auto;
    border-radius: 20px;
}


@media only screen and (max-width: 560px) {
    /* For mobile phones: */
    .seanc{
        width: 100%;
        flex-direction: column; 
 }
 .box-1{
    padding: 0;
 }
 
    .box {
        flex-direction: column;
    }
   
    
     .serie-card{
            width: 100%;
      }
    .serie-card .serie-card-body .serie{
        line-height: 15px;
    }
   
    
    .save-pdf button {
        margin: 1rem auto 0 auto;
    }
  }
 
