.seanc{
    width: 100%;
    background-color: tomato;
}
button:disabled{
    background-color: rgb(1, 196, 27);
    font-weight: bolder;
    color: white;
}
.box{
    display:flex;
    flex-basis: 100%;
    text-align: center;
    background-color: yellow;
}
.box select, .box input{
height: 2rem;
margin-right: .4rem;
}
.item5{
    margin-left: auto;
}
button[type="submit"]{
    width: 10rem;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .media {
      flex-direction: column;
    }
  }