.seanc{
    width: 100%;
}
button:disabled{
    background-color: rgb(1, 196, 27);
    font-weight: bolder;
    color: white;
}
.box{
    display:flex;
    flex-basis: 100%;
    margin: 20px auto;
}
.item1, .item2, .item3 .btn-togle{
    display: flex;
}
.box select, .box input{
height: 2rem;
margin-right: 10px;
}
.item5{
    margin-left: auto;
}
button[type="submit"]{
    width: 10rem;
}
.seance{
    width: 100%;
}
.serie-card{
    width: 90%;
    height: 100px;
    margin: .3rem auto;
    background: #fff;
  border-radius: 15px 0 0 15px;
  display: inline-block;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23);
}
.serie{
    padding: .5rem;
    background-color: #eeeeee;
    border-radius: 15px 0 0 0;

}
.delet{
position: absolute;
right: .8rem;
top: .4rem;
font-size: 1.2rem;
color: tomato;
cursor: pointer;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .box {
        flex-direction: column;

    }
    h2,h3,h4{
        font-size: 4vw;
    }
    
  }