<main>
    <div class="nav">
       <div> <i class='fas fa-calculator'></i>
        <h4>Calculer</h4></div>
            <span class="svma"><p class="vma" (click)="choice('vma')">VMA</p></span>
            <span><p (click)="choice('allure')">Allure</p></span>
            <span><p (click)="choice('poid')">Poids Ideal</p></span>
            <span><p (click)="choice('imc')">IMC</p></span>
    </div>
    <section>
        <div *ngIf="choix== 'vma'">
            <app-vma></app-vma>
        </div>
        <div *ngIf="choix== 'allure'">
            <app-allure></app-allure>
        </div>
        <div *ngIf="choix=='poid'">
            <app-imc></app-imc>
        </div>
        <div *ngIf="choix=='imc'">
            <app-imc></app-imc>
        </div>

    </section>
</main>