.box{ width: 100%;
    padding: 0;
    margin: 0;}

.head-input{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.form{
    text-align: center;
    width: 18%;

}
mat-label{
    color: #000;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

table{
    background-color: #fff;
}
  .table{
      text-align: center;
      margin-top: 1rem;
  }
 

th{
    font-size: .7rem;
}
td{
    font-size: .5rem;
}
@media only screen and (max-width: 480px) {
    .head-input{
        width: 100%;
        padding: 0 1rem;
        flex-direction: column;
     }
    .form{
        width: 100%;

     }
    .btns{
        flex-direction: row;

        width: 100%;
    }
    .btns button{
        flex:auto;
    }
    .table{
        background-color: white;
    }
    td{
        font-size: .3rem;
        column-width: 6px;

    }
    th{
        font-size: .4rem;
        column-width: 12px;
    }
   
}