.wihte{ color: white;}
.box{ width: 100%;
    padding: 0;
    margin: 0;}

.head-input{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}
.head-input p{
    font-size: .8rem;
}
p, input{
    display: inline;
}
.saisir{
    width: 45%;
}
.btns{
width: 25%;
}
button{
    min-width: 10rem;

}
.form-control{
    margin-right: .2rem;
    border-color: #030303;
    width: 4rem;
    text-align: center;

}
.form-control:focus {
    border-color: #534e4e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 162, 255, 0.6);
  }

  .table{
      text-align: center;
      margin-top: 1rem;
  }

nav a{
    cursor: pointer;
}

th{
    font-size: .7rem;
}
td{
    font-size: .5rem;
}
@media only screen and (max-width: 480px) {
    .head-input{
        width: 100%;
        padding: 0 1rem;
        flex-direction: column;
     }
    .saisir{
        width: 100%;
    }
    .btns{
        width: 100%;
    }
    button{
        width: 25%;
        margin: 1rem auto;
    }
    .table{
        background-color: white;
    }
    td{
        font-size: .3rem;
        column-width: 6px;

    }
    th{
        font-size: .4rem;
        column-width: 12px;
    }
   
}