.box{ width: 100%;
    padding: 0;
    margin: 0;}

.head-input{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.form{
    text-align: center;
    width: 18%;

}
mat-label{
    color: #000;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

table{
    background-color: #fff;

}
  .table{
      text-align: center;
      margin-top: 1rem;
  }
 

th{ font-size: 1rem;
    font-weight: 900;
    color: #333;
}
td{ font-size: .8rem;
    font-size: 90%;
    font-weight: 600;

}
@media only screen and (max-width: 600px) {
    .head-input{
        width: 100%;
        padding: 0 1rem;
        flex-direction: column;
     }
    .form{
        width: 100%;

     }
    .btns{
        flex-direction: row;
        width: 100%;
    }
    .btns button{
        flex:auto;
    }
    
    .table-box{
        width: 96vw;
        margin: 0 auto;
    }
    
    
     th,td{
         font-size: 80%;
     }
     
    th[scope="row"],thead tr .fix{
        background-color: #fcf8e8;
        position: sticky;
        left: -2px;
        top:auto;
    }
   
}