<div class="container box">
    <div class="head-input">
    <div class="saisir"><p>Saisir votre VMA et vous pourrez préparer votre entrainement en fonction de l'intensité voulue: </p><span><input type="text" class="form-control form-control-sm"  [(ngModel)]="vma" required><p>Km/h</p></span>
    </div>
      <div class="btns"><button class="btn btn-sm btn-warning" (click)="calcul()">Calculer</button><button class="btn btn-sm btn-secondary" (click)="renitialiser()">Rénitialiser</button>
    </div>
    </div>
    <hr>
    <div>

      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link tab1 active" (click)="tabone()">Travail avec le temps</a>
        <a class="flex-sm-fill text-sm-center nav-link tab2" (click)="tabtow()">Travail avec la distance</a>
      </nav>
      <!--temps par distance-->
        <div *ngIf="tab1 == true" class="table">
            <table class="table table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">%</th>
                    <th scope="col">vitesse</th>
                    <th scope="col">100m</th>
                    <th scope="col">200m</th>
                    <th scope="col">300m</th>
                    <th scope="col">400m</th>
                    <th scope="col">500m</th>
                    <th scope="col">800m</th>
                    <th scope="col">1000m</th>
                    <th scope="col">1200m</th>
                    <th scope="col">1500m</th>
                    <th scope="col">2000m</th>
                    <th scope="col">3000m</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">115%</th>
                    <td>{{vma115}}</td>
                    <td>{{MyTime(vma_100 / 115 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 115 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 115 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 115 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 115 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 115 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 115 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 115 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 115 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 115 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 115 * 3000) }}</td>
                  </tr>
                  <tr>
                    <th scope="row">110%</th>
                    <td>{{vma110}}</td>
                    <td>{{MyTime(vma_100 / 110 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 110 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 110 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 110 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 110 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 110 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 110 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 110 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 110 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 110 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 110 * 3000) }}</td>

                  </tr>
                  <tr>
                    <th scope="row">105%</th>
                    <td>{{vma105}}</td>
                    <td>{{MyTime(vma_100 / 105 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 105 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 105 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 105 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 105 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 105 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 105 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 105 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 105 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 105 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 105 * 3000) }}</td>
           
                  </tr>
                  <tr>
                    <th scope="row">100%</th>
                    <td>{{vma100}}</td>
                    <td>{{MyTime(vma_100 / 100 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 100 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 100 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 100 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 100 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 100 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 100 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 100 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 100 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 100 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 100 * 3000) }}</td>
              
                  </tr>
                  <tr>
                    <th scope="row">95%</th>
                    <td>{{vma95}}</td>
                    <td>{{MyTime(vma_100 / 95 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 95 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 95 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 95 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 95 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 95 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 95 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 95 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 95 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 95 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 95 * 3000) }}</td>
                 
                  </tr>
                  <tr>
                    <th scope="row">90%</th>
                    <td>{{vma90}}</td>
                    <td>{{MyTime(vma_100 / 90 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 90 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 90 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 90 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 90 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 90 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 90 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 90 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 90 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 90 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 90 * 3000) }}</td>
                
                  </tr>
                  <tr>
                    <th scope="row">85%</th>
                    <td>{{vma85}}</td>
                    <td>{{MyTime(vma_100 / 85 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 85 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 85 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 85 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 85 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 85 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 85 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 85 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 85 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 85 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 85 * 3000) }}</td>
                
                  </tr>
                  <tr>
                    <th scope="row">80%</th>
                    <td>{{vma80}}</td>
                    <td>{{MyTime(vma_100 / 80 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 80 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 80 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 80 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 80 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 80 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 80 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 80 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 80 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 80 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 80 * 3000) }}</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">75%</th>
                    <td>{{vma75}}</td>
                    <td>{{MyTime(vma_100 / 75 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 75 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 75 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 75 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 75 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 75 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 75 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 75 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 75 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 75 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 75 * 3000) }}</td>
                  </tr>
                  <tr>
                    <th scope="row">70%</th>
                    <td>{{vma70}}</td>
                    <td>{{MyTime(vma_100 / 70 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 70 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 70 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 70 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 70 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 70 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 70 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 70 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 70 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 70 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 70 * 3000) }}</td>
                 
                  </tr>
                  <tr>
                    <th scope="row">65%</th>
                    <td>{{vma65}}</td>
                    <td>{{MyTime(vma_100 / 65 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 65 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 65 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 65 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 65 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 65 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 65 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 65 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 65 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 65 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 65 * 3000) }}</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">60%</th>
                    <td>{{vma60}}</td>
                    <td>{{MyTime(vma_100 / 60 * 100)  }}</td>
                    <td>{{MyTime(vma_100 / 60 * 200) }}</td> 
                    <td>{{MyTime(vma_100 / 60 * 300)}}</td>                   
                    <td>{{MyTime(vma_100 / 60 * 400) }}</td>                    
                    <td>{{MyTime(vma_100 / 60 * 500) }}</td>                    
                    <td>{{MyTime(vma_100 / 60 * 800) }}</td>                    
                    <td>{{MyTime(vma_100 / 60 * 1000) }}</td> 
                    <td>{{MyTime(vma_100 / 60 * 1200)}}</td>                   
                    <td>{{MyTime(vma_100 / 60 * 1500) }}</td>                    
                    <td>{{MyTime(vma_100 / 60 * 2000) }}</td>                    
                    <td>{{MyTime(vma_100 / 60 * 3000) }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
<!--distance par temps-->
<div *ngIf="tab1 == false" class="table">
  <table class="table table-bordered table-sm">
      <thead>
        <tr>
            <th scope="col">%</th>
             <th scope="col">vitesse</th>
             <th scope="col">30 s</th>
             <th scope="col">45 s</th>
             <th scope="col">1 min</th>
              <th scope="col">1 min 15 s</th>
              <th scope="col">1 min 30 s</th>
              <th scope="col">2 min</th>
              <th scope="col">2 min 30 s</th>
              <th scope="col">3 min</th>
              <th scope="col">4 min</th>
              <th scope="col">5 min</th>
              <th scope="col">10 min</th>
              <th scope="col">15 min</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">115%</th>
          <td>{{vma115}}</td>
          <td>{{vma_30s * 30 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 115 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">110%</th>
          <td>{{vma110}}</td>
          <td>{{vma_30s * 30 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 110 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">105%</th>
          <td>{{vma105}}</td>
          <td>{{vma_30s * 30 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 105 / 100 |number: '1.0-1'}} {{metre}}</td>
    
        </tr>
        <tr>
          <th scope="row">100%</th>
          <td>{{vma100}}</td>
          <td>{{vma_30s * 30 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 100 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">95%</th>
          <td>{{vma95}}</td>
          <td>{{vma_30s * 30 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 95 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">90%</th>
          <td>{{vma90}}</td>
          <td>{{vma_30s * 30 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 90 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">85%</th>
          <td>{{vma85}}</td>
          <td>{{vma_30s * 30 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 85 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">80%</th>
          <td>{{vma80}}</td>
          <td>{{vma_30s * 30 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 80 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">75%</th>
          <td>{{vma75}}</td>
          <td>{{vma_30s * 30 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 75 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">70%</th>
          <td>{{vma70}}</td>
          <td>{{vma_30s * 30 * 70  / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 70 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">65%</th>
          <td>{{vma65}}</td>
          <td>{{vma_30s * 30 * 65  / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 65 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
        <tr>
          <th scope="row">60%</th>
          <td>{{vma60}}</td>
          <td>{{vma_30s * 30 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 45 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 60 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 75 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 90 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 120 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 150 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 180 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 240 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 300 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 600 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
          <td>{{vma_30s * 900 * 60 / 100 |number: '1.0-1'}} {{metre}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
</div>




