<div class="container">
  <p>choisir le test physique et saisi la performance obtenu :</p>

  <div class="input-group mb-3">
    <select class="custom-select" (change)="getVal($event.target.value)">
      <option selected> -- Tests Physique -- </option>
      <optgroup label="Epreuve continue à intensité stable">
        <option value="1">Test de COOPER</option>
        <option value="2">Test de demi-cooper</option>
        <option value="3">Test d'ASTRAND</option>
      </optgroup>
      <optgroup label="Epreuve continue à intensité progressive">
        <option value="4">Test Vameval (CAZORLA)</option>
        <option value="5">Test Navette de Luc Léger</option>
      </optgroup>
    </select>
  </div>

  <div class="test" *ngIf="value ==1">
    <div class="card card-description">
      <div class="card-body grid-card">
        <div class="description">
          <h3 class="card-title">Test Cooper</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>

        <div class="form">
          <div class="form-box">
            <!-- Name input -->
            <div class="form-outline">
              <label class="form-label" for="form5Example1">distance(m)</label>
              <input type="number" id="form5Example1" class="form-control mb-1" [formControl]="input" required/>
              <small class="msg" style="color: red;" *ngIf="input.touched && input.invalid">{{errorMessage()}}</small>
            </div>
            <!-- Submit button -->
            <div class="btn-calc">
              <button class="btn btn-warning" (click)="calcul()">Clalculer</button>
            </div>
          </div>

        </div>
        <div class="result">
          <p class="vma mb-3">VMA : {{vma |number:'1.0-2'}}<span *ngIf="vma!=null"> Km/h</span></p>
          <p class="vo">VO2max : {{vo2max |number:'1.0-2'}}<span *ngIf="vo2max!=null"> ml/kg/min</span></p>
        </div>

      </div>

    </div>

  </div>

  <div class="test" *ngIf="value ==2">
    <div class="card card-description">
      <div class="card-body grid-card">
        <div class="description">
          <h3 class="card-title">Test de demi-cooper</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="form">
          <div class="form-box">
            <!-- Name input -->
            <div class="form-outline">
              <label class="form-label" for="form5Example1">distance(m)</label>
              <input type="number" id="form5Example1" class="form-control mb-1" [formControl]="input" required/>
              <small class="msg" style="color: red;" *ngIf="input.touched && input.invalid">{{errorMessage()}}</small>
            </div>
            <!-- Submit button -->
            <div class="btn-calc">
              <button class="btn btn-warning" (click)="calcul()">Clalculer</button>
            </div>
          </div>

        </div>
        <div class="result">
          <p class="vma mb-3">VMA : {{vma |number:'1.0-2'}}<span *ngIf="vma!=null"> Km/h</span></p>
          <p class="vo">VO2max : {{vo2max |number:'1.0-2'}}<span *ngIf="vo2max!=null"> ml/kg/min</span></p>
        </div>

      </div>

    </div>

  </div>
  <div class="test" *ngIf="value ==3">
    <div class="card card-description">
      <div class="card-body grid-card">
        <div class="description">
          <h3 class="card-title">Test d'ASTRAND</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="form">
          <div class="form-box">
            <!-- Name input -->
            <div class="form-outline">
              <label class="form-label" for="form5Example1">distance(m)</label>
              <input type="number" id="form5Example1" class="form-control mb-1" [formControl]="input" required/>
              <small class="msg" style="color: red;" *ngIf="input.touched && input.invalid">{{errorMessage()}}</small>
            </div>
            <!-- Submit button -->
            <div class="btn-calc">
              <button class="btn btn-warning" (click)="calcul()">Clalculer</button>
            </div>
          </div>

        </div>
        <div class="result">
          <p class="vma mb-3">VMA : {{vma |number:'1.0-2'}}<span *ngIf="vma!=null"> Km/h</span></p>
          <p class="vo">VO2max : {{vo2max |number:'1.0-2'}}<span *ngIf="vo2max!=null"> ml/kg/min</span></p>
        </div>

      </div>

    </div>

  </div>
  <div class="test" *ngIf="value ==4">
    <div class="card card-description">
      <div class="card-body grid-card">
        <div class="description">
          <h3 class="card-title">Test Vameval (CAZORLA)</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="form">
          <div class="form-box">
            <!-- Name input -->
            <div class="form-outline">
              <label class="form-label" for="form5Example1">Palier</label>
              <input type="number" id="form5Example1" class="form-control mb-1" [formControl]="input" required/>
              <small class="msg" style="color: red;" *ngIf="input.touched && input.invalid">{{errorMessage()}}</small>
            </div>
            <!-- Submit button -->
            <div class="btn-calc">
              <button class="btn btn-warning" (click)="calcul()">Clalculer</button>
            </div>
          </div>

        </div>
        <div class="result">
          <p class="vma mb-3">VMA : {{vma |number:'1.0-2'}}<span *ngIf="vma!=null"> Km/h</span></p>
          <p class="vo">VO2max : {{vo2max |number:'1.0-2'}}<span *ngIf="vo2max!=null"> ml/kg/min</span></p>
        </div>

      </div>

    </div>

  </div>


  <div class="test" *ngIf="value ==5">
    <div class="card card-description">
      <div class="card-body grid-card">
        <div class="description">
          <h3 class="card-title">Test navette de Luc Léger</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="form">
          <div class="form-box">
            <!-- Name input -->
            <div class="form-outline">
              <label class="form-label" for="form5Example1">Palier</label>
              <input type="number" id="form5Example1" class="form-control mb-1" [formControl]="input" required/>
              <small class="msg" style="color: red;" *ngIf="input.touched && input.invalid">{{errorMessage()}}</small>
            </div>
            <!-- Submit button -->
            <div class="btn-calc">
              <button class="btn btn-warning" (click)="calcul()">Clalculer</button>
            </div>
          </div>

        </div>
        <div class="result">
          <p class="vma mb-3">VMA : {{vma |number:'1.0-2'}}<span *ngIf="vma!=null"> Km/h</span></p>
          <p class="vo">VO2max : {{vo2max |number:'1.0-2'}}<span *ngIf="vo2max!=null"> ml/kg/min</span></p>
        </div>

      </div>

    </div>

  </div>
