<div class="page">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#vma" role="tab" aria-controls="home"
        aria-selected="true">VMA et VO2max</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#allure" role="tab" aria-controls="profile"
        aria-selected="false">Vitesse et Allure de course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#imc" role="tab" aria-controls="contact"
        aria-selected="false">IMC</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="vma" role="tabpanel" aria-labelledby="home-tab">
      <div class="container">
        <div class="input-group mb-3">
          <p>choisir le test physique et saisi la performance obtenu :</p>
          <select class="custom-select" (change)="getVal($event.target.value)">
            <option selected>selectioner le test</option>
            <option value="1">Test de demi-cooper</option>
            <option value="2">Test navette de Luc Léger</option>
          </select>
        </div>

        <div class="test" *ngIf="value ==1">

          <div class="card card-description">
            <div class="card-body">
              <h5 class="card-title">description</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card card-calcul">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <div class="md-form input-group mb-3">
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                    [(ngModel)]="distance">
                <div class="input-group-append">
                  <span class="input-group-text md-addon">.m</span>
                </div>
              </div>
              <div class="button-calc">
                <button class="btn btn-danger" type="button" (click)="calcul()">Calculer</button>
              </div>
              </div>
            <div class="result">
              <span>
                <h2>VMA : {{result}}</h2>
              </span>
            </div>
          </div>

        </div>

        <div class="test" *ngIf="value ==2">
          <div class="card card-description">
            <div class="card-body">
              <h5 class="card-title">description</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card card-calcul">
            <div class="card-body">
              <div class="md-form input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-default">Palier:</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroupMaterial-sizing-default" [(ngModel)]="palier">
              </div>
              <div class="button-calc">
                <button class="btn btn-danger" type="button" (click)="calculNavet()">Calculer</button>
              </div>
            </div>
            <div class="result">
              <span>
                <h2>VMA : {{resultNavet}}</h2>
              </span>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="allure" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
      locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
      blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
      Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
      PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
      salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
      sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
      stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
    <div class="tab-pane fade" id="imc" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
      wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
      lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
      locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
      squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
      etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
      stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
  </div>

</div>