.conteneur{
    padding: 1rem .5rem;
}
.custom-select{
    width: 80%;
    margin: 1rem auto;
}
.box{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
}
.subox{
    display: flex;
}
.box input{
    text-align: center;
}
.box button{
width: 20%;
min-width: 100px;
}

@media only screen and (max-width: 480px) {

    
}