
.header{
    width: 100vw;
    height: 10%;
    padding: 1rem 2rem 1rem 3rem;
    background-color: #ec5858;
    color:white;
    box-shadow: 0px 2px 6px -1px grey;
}
.header h1{
    display: inline;
}

.contenu{
    padding-top: 1rem;
}

footer{
    text-align: center;
    width: 100vw;
    height: 10%;
    padding: .2rem;
    margin: 0%;
    color: gray;
    position: fixed;
    bottom: 0;
    left: 0em;
}
