<section class="body">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <a class="navbar-brand brand" routerLink="">VMA</a><span class="not">up!</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>


      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Calculer VMA<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/allure">Tablaux d'allures de course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/seance">S'entrainer avec Vma</a>
          </li>
        </ul>

      </div>

    </nav>

  </header>
  <main>
    <div class=" containercontenu">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Footer -->
  <footer class="page-footer font-small mdb-color darken-3">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright : vmaup.com
      <br>
      <small class="text-center py-2">développé par : Ahmed Mabrouki | ahmedmab@gmail.com</small>

    </div>

    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</section>