<div class="body">
  <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand vmabrand" href="#"><h1> <i class="fas fa-running"></i></h1><h3>Vma</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"  routerLink='info'><i class="fas fa-info-circle"></i><span> à propos de VMA </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='calcul'><i class="fas fa-calculator"></i><span> Calculer VMA</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='trainer-plan'><i class="fas fa-running"></i><span> Tableaux d'allures VMA</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link 
            " routerLink='seance'><i class="fas fa-running"></i><span> S'entrainer avec VMA</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class=" containercontenu">
      <router-outlet></router-outlet>
      </div>
  </main>

  <footer>
    <hr>
  <p>Copyright &copy;	2020 | created with <i class="far fa-heart"></i>+<i class="fas fa-coffee"></i> by Ahmed MABROUKI</p> 
  
  </footer>
  
</div>


