<div class="body">

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <a class="navbar-brand" routerLink="">VMA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/info">a propos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/calcul">Calculer Vma</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trainer-plan">Tablaux d'allures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/seance">S'entrainer avec Vma</a>
          </li>
        </ul>
      </div>
    </nav>


  </header>
  <main>
    <div class=" containercontenu">
      <router-outlet></router-outlet>
      </div>
  </main>

  <!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright : Ahmed MABROUKI |
    <strong> ahmedmab87@gmail.com</strong>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



