/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Black+Ops+One&family=Martel+Sans&display=swap');

html{
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

button{
    font-family: 'Martel Sans', sans-serif;
}

