/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100vw;
    margin-bottom: auto;
    padding: 1rem 2rem 1rem 3rem;
    background-color: #ec5858;
    color:white;
    box-shadow: 0px 2px 6px -1px grey;
}
footer{
    text-align: center;
    margin-top: auto;
    padding: .2rem;
    color: white;
    background-color: #333;
    
    
}