<style>
    *{
        background-color: whitesmoke;
    }
    .container {
        padding: 1rem 2rem;
        max-width: 100vw;
    }

    h1{
        font-size: 24px;
        color: rgb(81, 32, 121);
        font-weight: 700;
        text-align: center;
        margin: 0%;
        padding: 1rem 0;
    }

    h3{
        color: #333;
        font-family: serif;
        font-size: medium;
        text-decoration:underline;
    }

    h2,
    h4,
    h5 {
        color: #333;
    }
</style>
<h1>Terms et conditions</h1>
<div class="container">
<p>Dernière mise à jour: 5 février 2021</p>
<p>Veuillez lire attentivement ces termes et conditions avant d'utiliser notre service.</p>
<h2>Interprétation et définitions</h2>
<h3>Interprétation</h3>
<p>Les mots dont la lettre initiale est en majuscule ont des significations définies dans les conditions suivantes. Les
définitions suivantes ont la même signification, qu'elles apparaissent au singulier ou au pluriel.</p>
<h3>Définitions</h3>
<p>Aux fins des présentes conditions générales:</p>
<ul>
    <li>Affilié désigne une entité qui contrôle, est contrôlée par ou est sous contrôle commun avec une partie,
        où «contrôle» signifie la propriété de 50% ou plus des actions, participations ou autres titres habilités
        à voter pour l'élection des administrateurs ou d'une autre autorité de gestion.</li>
    <li> Pays se réfère à: Maroc
    </li>
    <li> La société (appelée «la société», «nous», «notre» ou «notre» dans le présent accord) fait référence à VMA UP.
    </li>
    <li>Appareil désigne tout appareil pouvant accéder au Service tel qu'un ordinateur, un téléphone portable ou une
        tablette numérique.</li>
    <li> Le service fait référence au site Web.
    </li>
    <li> Les Termes et Conditions (également appelés «Conditions») désignent ces Termes et Conditions qui forment
        l'intégralité de l'accord entre Vous et la Société concernant l'utilisation du Service. Cet accord de conditions
        générales a été créé à l'aide du générateur de conditions générales.
    </li>
    <li> Service de médias sociaux tiers désigne tout service ou contenu (y compris les données, informations, produits
        ou services) fournis par un tiers qui peuvent être affichés, inclus ou mis à disposition par le Service.
    </li>
    <li> Le site Web fait référence à VMA UP, accessible depuis https://www.vmaup.com
    </li>
    <li> Vous désigne la personne accédant ou utilisant le Service, ou la société, ou toute autre entité juridique au
        nom de laquelle cette personne accède ou utilise le Service, selon le cas.
    </li>
</ul>


<h3>Reconnaissance</h3>
<p>Ce sont les termes et conditions régissant l'utilisation de ce service et l'accord qui fonctionne entre vous et la
    société.</p>
<p>Les présentes conditions générales définissent les droits et obligations de tous les utilisateurs concernant
    l'utilisation du service.</p>
<p>Votre accès et votre utilisation du service sont conditionnés par votre acceptation et votre respect des présentes
    conditions générales.</p>
<p> Ces conditions générales s'appliquent à tous les visiteurs, utilisateurs et autres personnes qui accèdent ou
    utilisent le service.</p>
<p>En accédant ou en utilisant le Service, vous acceptez d'être lié par ces Termes et Conditions.</p>
<p> Si vous n'êtes pas d'accord avec une partie des présentes conditions générales, vous ne pouvez pas accéder au
    service.</p>
<p>Vous déclarez que vous avez plus de 18 ans. La Société ne permet pas aux moins de 18 ans d'utiliser le Service.</p>
<p>Votre accès et votre utilisation du service sont également conditionnés par votre acceptation et votre respect de la
    politique de confidentialité de la société.</p>
<p> Notre politique de confidentialité décrit nos politiques et procédures sur la collecte, l'utilisation et la
    divulgation de vos informations personnelles lorsque
    vous utilisez l'application ou le site Web et vous informe de vos droits à la confidentialité et de la manière dont
    la loi vous protège.</p>
<p> Veuillez lire attentivement notre politique de confidentialité avant d'utiliser notre service.</p>
<h3>Liens vers d'autres sites Web</h3>
<p>Notre service peut contenir des liens vers des sites Web ou des services tiers qui ne sont pas détenus ou contrôlés par
la société.</p>
<p>La Société n'a aucun contrôle sur, et n'assume aucune responsabilité pour, le contenu, les politiques de confidentialité
ou les pratiques de tout site Web ou service tiers. Vous reconnaissez et acceptez en outre que la Société ne sera pas
responsable, directement ou indirectement, de tout dommage ou perte causé ou supposé être causé par ou en relation avec
l'utilisation ou la confiance en ces contenus, biens ou services disponibles sur ou par le biais de ces sites Web ou
services.</p>
<p>Nous vous conseillons vivement de lire les termes et conditions et les politiques de confidentialité de tous les sites
Web ou services tiers que vous visitez.</p>
<h3>Résiliation</h3>
<p>Nous pouvons résilier ou suspendre votre accès immédiatement, sans préavis ni responsabilité, pour quelque raison que ce
soit, y compris, sans limitation, si vous enfreignez les présentes conditions générales.</p>
<p>En cas de résiliation, votre droit d'utiliser le service cessera immédiatement.</p>
<h3>Limitation de responsabilité</h3>
<p>Nonobstant les dommages que vous pourriez subir, l'entière responsabilité de la société et de l'un de ses fournisseurs
en vertu de toute disposition des présentes conditions et votre recours exclusif pour tout ce qui précède sera limité au
montant réellement payé par vous via le service ou 100 USD si vous n'avez rien acheté via le service.</p>

<p>Dans la mesure maximale permise par la loi applicable, en aucun cas la Société ou ses fournisseurs ne pourront être
tenus responsables de tout dommage spécial, accidentel, indirect ou consécutif de quelque nature que ce soit (y compris,
mais sans s'y limiter, les dommages pour perte de profits, perte de données ou d'autres informations, en cas
d'interruption d'activité, de blessure corporelle, de perte de confidentialité découlant de ou liée de quelque manière
que ce soit à l'utilisation ou à l'incapacité d'utiliser le Service, un logiciel tiers et / ou du matériel tiers utilisé
avec le Service, ou autrement dans le cadre de toute disposition des présentes Conditions), même si la Société ou tout
fournisseur a été informé de la possibilité de tels dommages et même si le recours échoue à son objectif essentiel.</p>

<p>Certains états n'autorisent pas l'exclusion des garanties implicites ou la limitation de responsabilité pour les</p>
dommages accessoires ou consécutifs, ce qui signifie que certaines des limitations ci-dessus peuvent ne pas s'appliquer.

<p>Dans ces États, la responsabilité de chaque partie sera limitée dans la plus grande mesure permise par la loi.</p>

<p><i>Avis de non-responsabilité "TEL QUEL" et "TEL QUE DISPONIBLE"</i>
Le Service vous est fourni «TEL QUEL» et «TEL QUE DISPONIBLE» et avec tous les défauts et défauts sans garantie d'aucune
sorte. Dans la mesure maximale autorisée par la loi applicable, la Société, en son nom propre et au nom de ses affiliés
et de ses concédants de licence et fournisseurs de services respectifs, décline expressément toute garantie, expresse,
implicite, statutaire ou autre, en ce qui concerne le Service, y compris toutes les garanties implicites de qualité
marchande, d'adéquation à un usage particulier, de titre et de non-contrefaçon, et les garanties pouvant découler de la
négociation, du cours des performances, de l'utilisation ou des pratiques commerciales.</p>
<p>Sans limitation de ce qui
précède, la Société ne fournit aucune garantie ou engagement, et ne fait aucune représentation de quelque nature que ce
soit que le Service répondra à vos exigences, atteindra les résultats escomptés, sera compatible ou fonctionnera avec
tout autre logiciel, application, système ou service, fonctionnera sans interruption, répondre à toutes les normes de
performance ou de fiabilité ou être sans erreur ou que toute erreur ou défaut peut ou sera corrigé.</p>

<p>Sans limiter ce qui précède, ni la société ni aucun des fournisseurs de la société ne font de représentation ou de
garantie de quelque nature que ce soit, expresse ou implicite: (i) quant au fonctionnement ou à la disponibilité du
service, ou aux informations, contenus, matériels ou produits inclus dessus; (ii) que le Service sera ininterrompu ou
sans erreur; (iii) quant à l'exactitude, la fiabilité ou l'actualité de toute information ou contenu fourni via le
Service; ou (iv) que le Service, ses serveurs, le contenu ou les e-mails envoyés par ou au nom de la Société sont
exempts de virus, scripts, chevaux de Troie, vers, logiciels malveillants, bombes à retardement ou autres composants
nuisibles.</p>
<p>Certaines juridictions n'autorisent pas l'exclusion de certains types de garanties ou de limitations des droits
statutaires applicables d'un consommateur, de sorte que certaines ou toutes les exclusions et limitations ci-dessus
peuvent ne pas s'appliquer à Vous. Mais dans un tel cas, les exclusions et limitations énoncées dans cette section
seront appliquées dans la plus grande mesure possible en vertu de la loi applicable.</p>
<h4>Loi applicable</h4>
<p>Les lois du pays, à l'exclusion de ses règles de conflit de lois, régiront les présentes conditions et votre
    utilisation du service.</p>
<p>Votre utilisation de l'Application peut également être soumise à d'autres lois locales, régionales, nationales ou
    internationales.</p>
<h4>Résolution des litiges</h4>
<p>Si vous avez des inquiétudes ou des différends concernant le service, vous acceptez de commencer par essayer de
    résoudre le différend de
    manière informelle en contactant la société.</p>
<i>Pour les utilisateurs de l'Union européenne (UE)</i>
<p>Si vous êtes un consommateur de l'Union européenne, vous bénéficierez de toutes les dispositions obligatoires de la
    loi du pays dans lequel
    vous résidez.</p>
<i>Conformité juridique aux États-Unis</i>
<p>Vous déclarez et garantissez que (i) Vous n'êtes pas situé dans un pays soumis à l'embargo du gouvernement des
    États-Unis, ou qui a été désigné
    par le gouvernement des États-Unis comme un pays «soutenant le terrorisme», et (ii) Vous n'êtes pas figurant sur
    toute liste gouvernementale
    des États-Unis de parties interdites ou restreintes.</p>
<h3>Divisibilité et renonciation</h3>
<h4>Divisibilité</h4>
<p>Si une disposition de ces Conditions est jugée inapplicable ou invalide, cette disposition sera modifiée et
    interprétée pour atteindre
    les objectifs de cette disposition dans la mesure du possible en vertu de la loi applicable et les dispositions
    restantes resteront pleinement
    en vigueur.</p>
<h4>Renonciation</h4>
<p>Sauf dans les cas prévus aux présentes, le défaut d'exercer un droit ou d'exiger l'exécution d'une obligation en
    vertu des présentes
    Conditions n'affectera pas la capacité d'une partie d'exercer ce droit ou d'exiger une telle exécution à tout moment
    par la suite,
    et la renonciation à une violation ne constituera pas une renonciation. de toute violation ultérieure.</p>
<h4>Traduction Interprétation</h4>
<p>Ces Termes et Conditions peuvent avoir été traduits si Nous les avons mis à votre disposition sur notre Service.Vous
    acceptez que le texte
    anglais original prévaudra en cas de litige.</p>
<h4>Modifications de ces termes et conditions</h4>
<p>Nous nous réservons le droit, à notre seule discrétion, de modifier ou de remplacer ces conditions à tout moment.
    Si une révision est importante, nous ferons des efforts raisonnables pour fournir un préavis d'au moins 30 jours
    avant
    l'entrée en vigueur de toute nouvelle condition. Ce qui constitue un changement important sera déterminé à notre
    seule discrétion.</p>
<p>En continuant à accéder ou à utiliser notre service après l'entrée en vigueur de ces révisions, vous acceptez d'être
    lié par les conditions
    révisées. Si vous n'acceptez pas les nouvelles conditions, en tout ou en partie, veuillez cesser d'utiliser le site
    Web et le service.</p>
<h4>Nous contacter</h4>
<p>Si vous avez des questions sur ces Termes et Conditions, vous pouvez nous contacter: </p>
<p>Par email: <span style="color: blue;"> vmaupcontact@gmail.com</span></p>
</div>